/* Estilos CSS para OrderPage */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    position: relative;
  }
  
  .logo-img {
    max-width: 4em;
    height: auto;
    vertical-align: middle;
  }
  
  .logo-text {
    display: inline-block;
    margin-left: 10px;
    line-height: 2em;
    font-size: 2em;
  }
  
  .App-header {
    background-color: #BD3F28;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: black;
  }
  
  .menu-container {
    margin: 2em;
    display: flex;
    flex-wrap: wrap;
  }
  
  .menu-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2em;
  }
  
  .platillo {
    flex-basis: calc(33.33% - 20px);
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .platillo-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .platillo-text {
    font-size: 18px;
    margin-top: 10px;
  }
  
  .platillo-input {
    width: 50px;
    height: 30px;
    margin-top: 10px;
    text-align: center;
    border: 1px solid #BD3F28;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .order-button {
    width: 12em;
    height: 4em;
    margin: 2em auto;
    background-color: #BD3F28;
    color: #EECC0A;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 1.2em;
  }
  